<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="CSS_ch7.css" />
        <title>Cours</title>
    </head>

    <body>

   <img src="https://www.brandcrowd.com/gallery/brands/pictures/picture13274947932468.jpg" class="imagelogo" alt="image logo"/></a>
   <h1 style="margin-left: 270px; text-align: center;">Chapitre 3 - Comment devenons-nous des acteurs sociaux ?</h1>

	

<div class="navo">
		<h3> Plan du cours</h3>

      	<p class="tA">Programme officiel</p>
      	<p class="tA">Vidéos du cours</p>
      	<p class="tI">Introduction : L'homme, un animal social ? </p>
      	<p class="ta">Document 1 - Document 1 - Vidéo : « Natacha, élevée comme un animal avec des animaux », France 3, 28/05/2009</p>
        <p class="tI">I. Qu’est-ce que la socialisation ? </p>
        <p class="ta">Document 2 : L'acquisition de normes et de valeurs</p>
        <p class="ta">Document 3 : Les étapes de la socialisation</p>
        <p class="ta">Document 4 : Les acteurs et les modalités de la socialisation</p>
        <p class="tA">Synthèse : Le processus de socialisation</p>
		<p class="tI">II. Qui sont les agents socialisateurs ? </p>
		<p class="ta">Document 5 : La socialisation familiale</p>
		<p class="ta">Document 6 : Le rôle socialisateur de l’école</p>
		<p class="ta">Document 7 : La socialisation par les pairs</p>
		<p class="tI">III. La socialisation est-elle la même pour tous les individus ? </p>
		<p class="tA">A. Une socialisation différenciée selon le milieu social</p>
		<p class="ta">Document 8 : Jouets éducatifs, jouets récréatifs une coupure sociale</p>
		<p class="ta">Document 9 : Socialisation et reproduction sociale : les rallyes mondains (vidéo)</p>
		<p class="tA">B. Une socialisation différenciée selon le genre</p>
		
      	
		<p class="tA">Aller plus loin</p>
		</br>
		<h3><em>Supports en vidéos:</em></h3>
		<p class="tA">Des vidéos de la chaînes les SES en vidéo : </p>
		<p style="margin-left: 0px;">Le processus de socialisation</br>
		<a href="https://youtu.be/AP1ehkkfQOU" style="max-width: 100px;" onclick="window.open(this.href); return false;"><img src="images/social1.jpg" class="imagevideo3" alt="image vidéo"/></a></p>
		<p style="margin-left: 0px;">Les instances de socialisation</br>
		<a href="https://youtu.be/SfjMZGjfJVQ" style="max-width: 100px;" onclick="window.open(this.href); return false;"><img src="images/social2.jpg" class="imagevideo3" alt="image vidéo"/></a></p>
		<p style="margin-left: 0px;">La socialisation différenciée</br>
		<a href="https://youtu.be/V_2xpYPCFLQ" style="max-width: 100px;" onclick="window.open(this.href); return false;"><img src="images/social3.jpg" class="imagevideo3" alt="image vidéo"/></a></p>

</div>

<section>

	<p class="programme"><strong>Programme officiel - Objectifs d'apprentissage :</strong></br>
	→ Savoir que la socialisation est un processus</br>
	→ Être capable d’illustrer la pluralité des instances de socialisation et connaître le rôle spécifique de la famille, de l’école, des médias et du groupe de pairs dans le processus de socialisation des enfants et des jeunes. </br>
	→ Savoir illustrer le caractère différencié des processus de socialisation en fonction du milieu social et du genre. </p>



	<h3 style="text-align: center;"> Vidéos du cours</h3>

	<table>
	<thead>
	   <tr>
	     <th><em>Vidéo 1</em></th>
	     <th><em>Vidéo 2</em></th>
	     <th><em>Vidéo 3</em></th>
	   </tr>
	</thead>
	 
	<tbody>
	   <tr>
	     <td><a href="https://youtu.be/PJeV3ecxL9E" onclick="window.open(this.href); return false;"><img src="images/I.B. Comment expliquer la monté de l'abstention.jpg" class="imagevideo" alt="image vidéo"/></a></td>
	     <td><a href="https://youtu.be/z8DXoV4IKbg?t=16" onclick="window.open(this.href); return false;"><img src="images/Comment expliquer le vote.jpg" class="imagevideo" alt="image vidéo"/></a></td>
	     <td><a href="https://youtu.be/fQ5TDbesdfM" onclick="window.open(this.href); return false;"><img src="images/B. vote collectif.jpg" class="imagevideo" alt="image vidéo"/></a></td>
	   </tr>
	</tbody>
	</table>


     <h1>Introduction : L'homme, un animal social ? </h1>
	  	   
	   <p><strong>Document 1 - Vidéo : « Natacha, élevée comme un animal avec des animaux », France 3, 28/05/2009</strong></p>
	   
	   <div id="conteneur">
		<div class="questions">
		<ul>
         <li>Pourquoi Natacha est-elle qualifiée d’enfant « sauvage » ?</br>
		 <em>Elle ne parle pas, ne marche pas et se comporte comme un animal</em></li>
      	 <li>Qu’est-ce qui semble expliquer son comportement ?</br> 
		 <em>Elle n’a pas été assez en contact avec des humains et elle calque son comportement sur celui des animaux</em></li>
      	 <li>Dans quel but la jeune fille a-t-elle été placée dans une institution ?</br> 
		 <em>Pour lui apprendre les normes sociales humaines et la protéger de ses parents.</em></li>
		 <li>Selon vous, que signifie le terme « socialisation » employé à la fin de la vidéo ?</br> 
		 <em>C’est le processus au cours duquel on apprend et on intériorise les comportements considérés comme normaux dans une société.</em></li>
      	</ul></div>
	    <div class="imagedoc">
	    <a href="https://www.dailymotion.com/video/x9fnh8" onclick="window.open(this.href); return false;"><img src="images/2doc1.jpg"  class="imagevideo" alt="Image flottante" /></a></div>
		</div>

    <h1>I. Qu’est-ce que la socialisation ?</h1>

   	<article class="document"> <strong>Document 2 : L'acquisition de normes et de valeurs</strong></br>
	Dire s'il-vous-plaît et merci, bonjour et au revoir, attendre son tour au magasin sont des comportements liés au processus de socialisation. En effet, dès l'enfance, l'individu intègre les normes (règles) et les valeurs (principes, idéaux) de la société dans laquelle il vit. Cette socialisation facilite l'intégration de l'individu dans la société et assure ainsi la cohésion sociale.  
	Mais l'individu peut aussi intégrer les normes et les valeurs d'un groupe plus restreint (celui des amis, par exemple) : ne pas dénoncer son camarade qui triche, fumer, voler sont des comportements qui peuvent relever également de la socialisation. En somme, cette dernière est le produit de contraintes imposées par des agents mais aussi d'une interaction avec les autres. La socialisation ne se fait donc pas toujours de manière explicite ; elle peut prendre des formes plus implicites ou inconscientes, par exemple en observant son entourage, en s'imprégnant de faits et gestes de la vie quotidienne. 
	A travers le processus de socialisation, l'individu devient ainsi un acteur social doté d'une identité et d'une personnalité particulières. 
	<p style="text-align: right;">Estelle Cardon et Emilie Vandappe, <em>Manuel de sciences économiques et sociales</em>, Bordas, 2015.</p>
	</br> 
	<strong>Document 3 : Les étapes de la socialisation</strong></br>
	On distingue généralement la socialisation primaire et la socialisation secondaire. La socialisation primaire est la socialisation centrée sur l'acquisition des modèles de comportements spécifiques aux enfants. Cette socialisation primaire est principalement le fait des agents dont l'objectif est explicitement la socialisation. Elle est caractérisée par des relations inégales entre l'enfant en situation d'apprentissage et les adultes qui font office d'éducateurs. […] Cependant, le processus de socialisation ne s'arrête pas avec l'enfance. 
	La socialisation secondaire est la socialisation centrée sur l'acquisition des rôles sociaux caractéristiques de l'âge adulte ainsi que des savoirs professionnels. […] Même si elle est particulièrement intense au cours des premières années de la vie, la socialisation n'est jamais achevée. De ce fait, les « résultats » de la socialisation sont toujours provisoires et susceptibles d'être remis en question. 
	<p style="text-align: right;">Philippe Deubel et Marc Montoussé, <em>Dictionnaire de sciences économiques et sociales</em>, Bréal, 2012.</p>
	</article>

	<p class="définition"><strong>Définitions :</strong></br></br>
	<strong>Une norme</strong> est une règle de conduite concrète partagée par une société ou un groupe d’individus. Le non-respect d’une norme sociale entraîne une sanction qui peut être formelle (heure de colle, prison) ou informelle (regard désapprobateur, moquerie)</br></br>
	<strong>Une valeur</strong> est un principe, c’est une idée abstraite de ce qui est considéré comme souhaitable par une société ou un groupe d’individus. </br></br>
	<em>Remarque : Les normes sont concrètes, on peut les décrire clairement (par exemple « dire bonjour ») alors que les valeurs sont abstraites (la justice, l'honnêteté). Les valeurs abstraites sont donc incarnée par les normes</em></p>

	<img src="images/norval.jpg" class="imageflottante3">
	<p class="dessous"></br>Remarque : </br>Plusieurs normes peuvent être associée à une même valeur et inversement. Par exemple la norme "Dire bonjour" peut être associée aussi bien à la valeur "Politesse" qu'à la valeur "Respect". </br>Et dans l'autre sens les normes "ne pas mentir" et "ne pas tricher" peuvent toutes les deux être associées à la valeur "Honnêteté"</p>

	
	<p class="définition"><strong>Définition :</strong></br></br>
	<strong>La socialisation</strong> est le processus au cours duquel un individu va apprendre et intérioriser des normes, des valeurs et des rôles sociaux dans le but de s’intégrer à la société et d’avoir un comportement approprié dans chaque situation, mais aussi de construire sa propre identité.</br></br>
	<em>Remarque : La socialisation dure tout au long de la vie. On la sépare en deux parties : La socialisation primaire qui est la plus forte et durable prend place dans l’enfance, puis la socialisation secondaire se poursuit tout au long de la vie.</em></p>

 	<p><strong>Document 4 : Les acteurs et les modalités de la socialisation</strong>
 	<img src="images/2doc4.jpg" class="imageflottante3"></p>

 	<p class="rappel"><strong>A retenir :</strong></br></br>
 	<strong>Les agents socialisateurs</strong> (qu'on appelle aussi les <em>instances de socialisations</em>) sont toutes les personnes qui transmettent des normes et des valeurs aux enfants. Les agents socialisateurs principaux sont la famille, les pairs (= les amis), l'école et les médias.</br></br>
 	La socialisation se fait selon <strong>3 modes de socialisation :</strong></br>
 	<strong>- L'injonction :</strong> il s'agit de donner un ordre (par exemple "ne mets pas tes coude sur la table")</br>
 	<strong>- L'imitation :</strong> c'est quand l'enfant imite les personnes qui l'entourent</br>
 	<strong>- L'interaction :</strong> c'est quand l'enfant modifie ses réactions en fonction du comportement des autres (par exemple : ne plus porter un certain vêtement à l'école après avoir fait l'objet de moqueries)</br></br>

 	<em>Remarque :</em></br>La socialisation se fait à la fois de façon volontaire et involontaire par les instance de socialisation. On distingue ainsi :</br>
 	<strong>- La socialisation explicite :</strong> c'est quand la norme que l'on veut transmettre est clairement dite et énoncée (par exemple les parents quand il enseignent les règles de politesse, ou l'institution scolaire ont beaucoup recours à la socialisation explicite)</br>
 	<strong>- La socialisation implicite :</strong> c'est quand les normes sont transmises de façon sous-entendue, diffuse. L'imitation et l'interaction sont des modes souvent implicites de socialiser (par exemple quand on adopte le même vocabulaire que ces amis c'est de l'imitation implicite : personne ne nous oblige clairement à utiliser certains mots).</p>

 	<p class="synthèse"><strong>Synthèse : Le processus de socialisation</strong></br>
	Un grand nombre de nos comportements ne sont pas innés mais acquis lors de la socialisation. Ce mécanisme permet aux individus d’intérioriser les normes et les valeurs de la société dans laquelle ils vivent. Les valeurs sont des idéaux auxquels adhèrent les membres d’une société et se concrétisent dans des normes qui donnent des règles de conduite. La socialisation peut se faire de manière explicite et contraignante par injonction ou de manière plus diffuse par imitation ou interaction. 
	La socialisation qui a lieu pendant l’enfance et l’adolescence est la socialisation primaire, suivie par la socialisation secondaire à l’âge adulte et jusqu’à la fin de la vie. Ainsi, la socialisation est un processus puisqu’elle dure toute la vie et ne cesse d’évoluer. Elle permet à l’individu de s’intégrer dans la société, assurant la cohésion sociale, mais aussi de construire sa propre identité individuelle et sociale.</p>

	<h1>II. Qui sont les agents socialisateurs ? </h1>

	<p><strong>Document 5 : La socialisation familiale</strong>
 	<img src="images/2doc5.jpg" class="imageflottante3"></p>
 	<p><em>Q1. Que transmet la famille à l’enfant ?</em></br>
	La famille transmet à l’enfant les normes et les valeurs primordiales qui permettent son intégration à la vie sociale (politesse, respect, langage, façon de se tenir etc.). Le fait qu’elle assure une fonction affective et qu’elle intervienne très tôt dans le processus de socialisation font que les normes qu’elle transmet sont particulièrement fortes et durables.</br></br>
	<em>Q2. Comment la famille détermine-t-elle en partie les goûts personnels ? Illustrez</em></br>
	En mettant en contact très tôt les enfants avec un type de pratique culturelle, la famille habitue leurs enfants et transmettent donc leurs propres goûts pour cette pratique. Par exemple des études ont montrer que le fait de lire des histoires le soir aux petits enfants, augmente fortement les chances que ces derniers développent un goût pour la lecture.</br></br>
	<em>Q3. Les frères et sœurs participent-ils à la socialisation de l’enfant de la même manière que les parents ?</em></br>
	Non, les parent socialisent de manière verticale, par exemple par injonction, alors que la socialisation des enfants est davantage horizontale (par imitation et interaction).</p>

	

	<article class="document" style="padding: 0px">
	<p><strong>Document 6 : Le rôle socialisateur de l’école</strong>
	<div id="conteneur">
		<div class="questions" style="margin-left: 20px">
		La socialisation scolaire engage en fait trois grands types d’apprentissage :</br>
		- L’école est tout d’abord le lieu de l’apprentissage de contenus et de compétences qui sont explicitement présentés comme des savoir scolaires à acquérir. […] </br>
		- A cet aspect explicite et éducatif s’ajoute cependant, comme dans toute autre forme de socialisation, une dimension implicite faite d’apprentissages plus diffus et moins visibles : apprentissage d’un certain rapport au temps et à l’espace ainsi que d’usages particuliers du corps, ou encore intériorisation de schèmes sociaux liés à l’organisation de la société (définitions sociales de l’intelligence, de la division du travail, […]). </br>
		- Enfin, on peut ajouter à ces deux dimensions de la socialisation scolaire tout ce qui s’apprend à l’école mais, soit dans la marge de l’institution (par exemple, la socialisation sentimentale et culturelle par les pairs), soit même contre elle (comment « tricher » pendant un contrôle ou fumer dans des espaces où c’est interdit).</br></div>		
	    <div class="imagedoc">
	    <img src="images/2doc6.jpg" class="imageflottante" alt="Image flottante" style="margin-right: 20px" /> 
		</div>
	</div>
	<p style="text-align: right;">Muriel Darmon, <em>La socialisation</em>, Armand Colin, 2016.</p>
	</article>

	<p class="rappel"><strong>A retenir</strong></br></br>
	A l'école, l'individu est socialisé de plusieurs façons. En particulier, l'enfant apprend 3 choses à l'écoles :</br>
	<strong>- Des savoirs scolaires</strong> qui sont explicites (= des savoirs faire). Par exemple l'histoire, les mathématiques, l'orthographe etc.</br>
	<strong>- Des attitudes implicites</strong> (= des savoirs être). Par exemple apprendre à vivre avec les autres, à rester assis calemement, à travailler avec régularité, à respecter l'autorité etc.</br>
	<strong>- Des normes informelles.</strong> Ce sont toutes les choses qui sont apprises à l'école mais qui sont transmises par les pairs (parfois contre l'école). Par exemple les goûts musicaux, la socialisation sentimentale, la triche, le fait de fumer etc.</p>

	<article class="document" style="padding: 0px">
	<p><strong>Document 7 : La socialisation par les pairs</strong>
	<div id="conteneur">
		<div class="questions" style="margin-left: 20px">
		Le début de l’adolescence, avec l’entrée au collège, est caractérisée par une nouvelle « autonomie relationnelle » […]. Dans ce processus, les adolescents disposent de davantage de liberté concernant le choix et la fréquentation de leurs amis, ce qui nécessite de la part de leurs parents de trouver un équilibre entre contrôle (horaires, moments de sorties) et soutien de leurs enfants […].</br>
		Dans un contexte où le temps passé avec la famille diminue au bénéfice du temps passé avec les pairs, ces derniers sont amenés à occuper une place de plus en plus centrale dans le développement et la construction identitaire des adolescents. Ils constituent un soutien essentiel, susceptible d’exercer une influence positive dans des domaines variés (comportement prosociaux, activités physiques, sexualité protégée […]), d’être un facteur de protection contre la violence ou de compenser les effets négatifs de contextes sociaux dégradés […]. </br>
		De nombreux travaux montrent également l’influence des pairs, en particulier sur les consommations de substances psychoactives et plus largement sur les comportements à risque […].
		</div>		
	    <div class="imagedoc">
	    <img src="images/2doc7.jpg" class="imageflottante" alt="Image flottante" style="margin-right: 20px" /> 
		</div>
	</div>
	<p style="text-align: right;">E. Roscoat, C. Léon, E. Godeau, « Entre famille et pairs »,<em>Agora débats/jeunesses</em>, n°4, 2016.</p>
	<img src="images/2doc7.2.jpg" class="imageflottante3" alt="Image flottante" style="margin-right: 20px" />
	</article>
	<p>
	<em>Q1. Expliquez la phrase soulignée</em></br>
	<strong>A l’adolescence, l'individu s’éloigne de sa famille et se fait davantage socialisé par ses pairs.</strong></br></br>
	<em>Q2. Donnez des exemples d’activités qui participent à la socialisation du groupe.</em></br>
	<strong>Activité sportive, écoute de musique etc.</strong></br></br>
	<em>Q3. Comment la socialisation au sein du groupe de pairs peut-elle s’opposer à celle de la famille ou de l’école ?</em></br>
	<strong>Les normes enseignées par les pairs ne sont pas les mêmes (activité différentes, langage différent etc.)</strong></br></br>
	<em>Q4. Donnez un exemple de socialisation verticale et un exemple de socialisation horizontale.</em></br>
	<strong>Verticale : apprendre à manger avec une fourchette</strong></br>
	<strong>Horizontale : apprendre la mode vestimentaire, de nouveaux tics de langage.</strong></br></br>
	<em>Q5. Quel est le média le plus utilisé par les jeunes ? Le moins utilisé ? Faites des phrases de lecture avec les données correspondantes.</em></br>
	<strong>Le média le plus utilisé par les jeunes sont les réseaux sociaux car 71% des jeunes interrogés les utilisent tous les jours contre 7% pour les chaînes de télévision internationale</strong></br></br>
	<em>Q6. Le groupe de pairs occupe-t-il une place importante dans les nouveaux médias ? Pourquoi ?</em></br>
	<strong>Oui car le média le plus utilisé (réseaux sociaux) est un média d’interaction entre pairs où les jeunes s’influencent mutuellement.</strong></br>

	<p class="synthèse"><strong>Synthèse : Les acteurs de la socialisation</strong></br>
	La famille joue un rôle essentiel lors de la socialisation primaire car elle intervient précocement, durablement et, généralement, dans un climat affectif qui facilite la transmission aux enfants de valeurs, de normes et de savoirs.</br>
	L’école constitue une autre instance de socialisation. L’enfant y intériorise non seulement des savoirs scolaires, mais aussi des valeurs comme le respect, l’honnêteté et des règles de vie en société. Mais la socialisation à l’école se fait aussi dans des lieux plus informels comme la cour de récréation.</br>
	Dès l’enfance, s’opère une socialisation entre pairs dite socialisation horizontale, qui vient s’ajouter à la socialisation verticale des parents vers les enfants. Ainsi, on peut observer une culture enfantine avec son langage, ses règles, ses rituels spécifiques. A partir du collège, les amis prennent une importance grandissante et mettent en place un contrôle social implicite au sein du groupe de pairs (nouveaux types de vêtements, vocabulaire, comportements etc., sont « imposés » par le groupe). La volonté d'appartenir au groupe contraint les jeunes à suivre les règles de conduite du groupe, de crainte d’être mis à l’écart.</br>
	Les médias et les réseaux sociaux participent également à la socialisation en participant à la construction d’une culture adolescente et en véhiculant des normes.</br></br>
	<img src="images/école.png" class="imagevideao23" alt="Image flottante" style="border: none;" /></p>


	<h1>III. La socialisation est-elle la même pour tous les individus ?</h1>
	<h2>A. Une socialisation différenciée selon le milieu social</h2>

	<p><strong>Document 8 : Jouets éducatifs, jouets récréatifs une coupure sociale</strong></p>
	<img src="images/2doc8.jpg" class="imagevideao23" alt="Image flottante" style="border: none;" /></p>



