{% extends 'layout.html' %}
{% block body %}

<h3>Synthèse II.C. Comment expliquer la volatilité du vote ?</h3>

<h4><span id="prop">Vos réponses</span></h4>
<div><p class="text-exo">

    Depuis les années 1970, la <span id="prop">{{ prop[0] }}</span> électorale a augmenté. D’une élection à une autre, les électeurs peuvent voter pour des partis <span id="prop">{{ prop[1] }}</span> bien que ces derniers appartiennent généralement au même champ politique (seulement <span id="prop">{{ prop[2] }}</span> des électeurs qui avaient voté pour N. Sarkozy au premier tour des présidentielles de 2012 ont voté à gauche en 2017). Ils peuvent aussi choisir de <span id="prop">{{ prop[3] }}</span> alors qu’ils avaient voté aux élections précédentes. <span id="prop">{{ prop[4] }}</span> est la forme de volatilité électorale la plus fréquente (entre <span id="prop">{{ prop[5] }}</span> % et 20 % selon les partis).
L’augmentation de la volatilité électorale peut être expliquée par une baisse de l’influence des <span id="prop">{{ prop[6] }}</span>. L’identité des individus est plus complexe qu’auparavant car ils appartiennent à plusieurs <span id="prop">{{ prop[7] }}</span> en même temps qui ne vont pas toujours dans le même sens. On assiste ainsi à une <span id="prop">{{ prop[8] }}</span> des variables explicatives du vote qui peuvent apporter du changement.
Les changements du comportement électoral peuvent aussi être liés à l’influence croissante des <span id="prop">{{ prop[9] }}</span>. Les électeurs feraient plus attention aux promesses des partis politiques, aux médias et à la situation <span id="prop">{{ prop[10] }}</span> et sociale avant de choisir pour qui voter. Ce choix peut changer si l’<span id="prop">{{ prop[11] }}</span>  change, c’est le propre du vote <span id="prop">{{ prop[12] }}</span>.


 <br><br></p></div>

<h4><span id="answer">Correction</span></h4>
<div><p class="text-exo">

    Depuis les années 1970, la <span id="answer"> volatilité</span>.  électorale a augmenté. D’une élection à une autre, les électeurs peuvent voter pour des partis <span id="answer"> différents</span>., bien que ces derniers appartiennent généralement au même champ politique (seulement  <span id="answer"> 4%</span>.  des électeurs qui avaient voté pour N. Sarkozy au premier tour des présidentielles de 2012 ont voté à gauche en 2017). Ils peuvent aussi choisir de <span id="answer"> s’abstenir</span>., alors qu’ils avaient voté aux élections précédentes. <span id="answer"> L’abstention intermittente</span>.  est la forme de volatilité électorale la plus fréquente (entre <span id="answer"> 13%</span>.  et 20% selon les partis).
L’augmentation de la volatilité électorale peut être expliquée par une baisse de l’influence des <span id="answer"> variables sociales</span>.. L’identité des individus est plus complexe qu’auparavant car ils appartiennent à plusieurs <span id="answer"> groupes sociaux</span>.  en même temps qui ne vont pas toujours dans le même sens. On assiste ainsi à une <span id="answer"> recomposition</span>. des variables explicatives du vote qui peuvent apporter du changement.
Les changements du comportement électoral peuvent aussi être liés à l’influence croissante des <span id="answer"> variables contextuelles</span>.. Les électeurs feraient plus attention aux promesses des partis politiques, aux médias et à la situation <span id="answer"> économique</span>. et sociale avant de choisir pour qui voter. Ce choix peut changer si <span id="answer"> l’offre électorale</span>. change, c’est le propre du vote <span id="answer"> sur enjeu</span>.


 <br><br></p></div>



{% endblock %}
