<nav class="menu">
    <ul class="menu">
        <li class="menu" style="background-color:#173656;font-size:125%" ><a class="menu" href="/">Test SES</a></li>
        <li class="menu"><a class="menu" href="/">Accueil</a></li>
        <li class="menu dropdown"> <a class="dropbtn">Cours Seconde</a>
                                <div class="dropdown-content">
                                  <a href="#">Chapitre 3 (bientôt)</a>
                                </div>
        </li>
         <li class="menu dropdown"> <a href="javascript:void(0)" class="dropbtn">Cours Première</a>
                                <div class="dropdown-content">
                                  <a href="/cours_ch6">Chapitre 6</a>
                                  <a href="/cours_ch7">Chapitre 7</a>
                                </div>
        </li>

        <li class="menu" style="float:right"><a class="menu" href="/about">Contact</a></li>
    </ul>
</nav>
